{% extends 'base.html.twig' %}

{% block title %}Hospital{% endblock %}

{% block body %}
    <div class="container container-margin-top">
        <h1>Hospital</h1>

        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ hospital.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ hospital.name }}</td>
            </tr>
            <tr>
                <th>Phone_number</th>
                <td>{{ hospital.phoneNumber }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ hospital.address }}</td>
            </tr>
            </tbody>
        </table>

        <a href="{{ path('hospital_index') }}" class="btn btn-primary">back to list</a>

        <a href="{{ path('hospital_edit', {'id': hospital.id}) }}" class="btn btn-secondary">edit</a>

        {{ include('hospital/_delete_form.html.twig') }}
    </div>
{% endblock %}
